export(add_leading_zeroes)
export(binary_image_write)
export(build_raster_header)
export(fillNA)
export(fix_extent)
export(focal_hpc)
export(get_gdal_installation)
export(getValuesBlock_enhanced)
export(raster_to_tile)
export(rasterToPolygons_hpc)
export(remove_file_extension)
export(sfQuickInit)
export(spatial_sync_raster)
export(spatial_sync_vector)
export(subset_raster_by_names)
